.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 32px 0;

	border-bottom: 1px solid #f6f9fc;
}

.search {
	display: flex;
	align-items: center;
	margin: 0 24px;
	position: relative;
}

.input {
	width: 350px;
	max-width: 100%;
	border-radius: 99px;
	padding: 8px 16px 8px 40px;
	background-color: var(--bg-gray);

	&:focus {
		box-shadow: none;
		border: 1px solid #0077fa80;
	}
}

.nav {
	li {
		padding: 0 16px !important;
		height: 48px !important;
		border-radius: 4px !important;
		font-size: 14px !important;
	}
}

.icon {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	z-index: 1;
	font-size: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: rgb(107 112 117);
}
