.title {
	font-weight: 400;
}

.tag {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	margin-bottom: 6px;
	border: "none";
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
}
