@use "../../../components/GlobalStyles/GlobalStyles.module.scss" as screen;

.wrapper {
	width: 100%;
	margin: auto;
	background-color: var(--bg-white);
}

.main {
	width: 100%;
	background-color: var(--bg-gray);
}

.content {
	margin: auto;
	padding: 32px 0;

	@include screen.md {
		width: 768px;
		max-width: 100%;
	}

	@include screen.xl {
		width: 1200px;
		max-width: 100%;
	}
}
