@use "../../../components/GlobalStyles/GlobalStyles.module.scss" as screen;
.wrapper {
	width: 100%;
	margin: 8px 24px;
	padding: 16px 24px;
	background-color: var(--bg-white);
	border-radius: 6px;
}

.title {
	font-weight: 400;
	margin: 16px 0;
}

.tag {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	border: "none";
	padding: 0 12px;
	font-size: 12px;
	height: 32px;
	line-height: 32px;
	border: none;
	box-shadow: none;
	border-radius: 4px;
	overflow: hidden;
	user-select: none;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	padding: 0 14px !important;
	font-size: 13px;
	height: 42px !important;
	line-height: 42px;
	box-shadow: none;
	border-radius: 4px;
	overflow: hidden;
	user-select: none;

	span {
		// color: var(--text-white);
		font-weight: 500;
	}

	&--small {
		padding: 0 14px;
		font-size: 12px;
		height: 36px;
		line-height: 36px;
		border: none;
		box-shadow: none;
		border-radius: 4px;
		overflow: hidden;

		span {
			// color: var(--text-white);
			font-weight: 500;
		}
	}
}
