.editor__header {
	align-items: center;
	background: #0d0d0d;
	border-bottom: 1px solid #0d0d0d;
	display: flex;
	flex: 0 0 auto;
	flex-wrap: wrap;
	padding: 8px;
}

.divider {
	background-color: rgba(#fff, 0.25);
	height: 20px;
	margin-left: 8px;
	margin-right: 12px;
	width: 1px;
}
