@use "../../../components/GlobalStyles/GlobalStyles.module.scss" as screen;

.wrapper {
	display: flex;
	align-items: center;
	margin: 0 24px;
	position: relative;

	@include screen.xs {
		margin: 0 8px;
	}
}

.input {
	max-width: 100%;
	border-radius: 99px;
	padding: 10px 16px 10px 40px;
	border: none;
	background-color: var(--bg-gray);

	@include screen.xs {
		width: 180px;
	}

	@include screen.sm {
		width: 300px;
	}

	&:focus {
		box-shadow: none;
		border: 1px solid #0077fa80;
	}
}

.icon {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	z-index: 1;
	font-size: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: rgb(107 112 117);
}
